.input {
    width: 132px;
    height: 54px;
    background: #282B30;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px rgba(0, 0, 0,0.12);
    border: none;
    cursor: pointer;
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}