@import './../variables';

.input {
    width: 132px;
    height: 54px;
    background: $input_bg;
    border-radius: 15px;
    color: $white_op_40;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    box-shadow: inset 4px 4px 6px $black_op_20,
    inset -4px -4px 6px $black_op_12;
    border: none;
    cursor: pointer;
    outline: none;
    &:disabled {
        opacity: 0.1;
        cursor: not-allowed;
    }
}