@import './../variables';

.button {
    height: 83px;
    width: 83px;
    border: none;
    padding: 10px;
    color: $white_op_40;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    box-shadow: inset 4px 4px 20px $white_op_12,
        inset -4px -4px 20px $black_op_25;
    outline: none;
    &:disabled {
        opacity: 0.1;
        cursor: not-allowed;
    }
}
.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 93px;
    width: 93px;
    box-shadow: 5px 5px 20px $black_op_30,
        -5px -5px 20px $white_op_25,
        inset -4px -4px 10px $white_op_12,
        inset 4px 4px 10px $black_op_25;
}
.default {
    &_wrapper {
        background: $button_place;
    }
    &_button {
        background: $button_place;
    }
}
.danger {
    &_button {
        background: $button_take;
    }
    &_wrapper {
        background: $button_take;
    }
}
