@import './../variables.scss';
.text {
    color: $white_op_40;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
}
.ration{
    color: $ration_color;
    font-weight: 700;
    line-height: 64.45px;
    font-size: 55px;
    text-shadow: 2px 4px 6px $black_op_25;
}
.win {
    color: $win_color;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-shadow: 2px 4px 6px $black_op_25;
}
.crashed {
    color: $crashed_color;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-shadow: 2px 4px 6px $black_op_25;
}