$button_place: #292C33;
$button_take: #882424;
$input_bg: #282B30;
$line_bg:  #1D1E24;
$ration_color: #C27500;
$win_color: #00C208;
$crashed_color:#C20000;
$black_op_25:rgba(0, 0, 0, 0.25);
$black_op_30: rgba(0, 0, 0, 0.30);
$white_op_40: rgba(255, 255, 255, 0.4);
$white_op_25: rgba(255, 255, 255, 0.25);
$white_op_12: rgba(255, 255, 255, 0.12);
$black_op_20: rgba(0, 0, 0, 0.2);
$black_op_12: rgba(0, 0, 0, 0.12);
$game_bg: #34393D;
$game_border: #3D4249;
$game_shadow: #25282D;